.backgroundPic {
    background: url("/images/backgroundPic.jpg") ;
}
.detail_top {
    padding-top: 40px;
}

.mainpic {
    width: 478px;
    height: 450px;
    border-right: 1px solid #e4e4e4;
    float: left;
}

.mainpic img {
    width: 350px;
    height: 350px;
    margin-left: 60px;
}

.detail_content {
    float: left;
    width: 500px;
    margin-left: 30px;
}

h4 {
    font-family: "Microsoft YaHei";
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.detail_content p {
    color: #666;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
}

.detail_content p span {
    color: #333;
    font-size: 15px;
}

.detail_content p:nth-of-type(3) span {
    color: #c00;
    font-size: 18px;
    font-weight: bold;
}

.detail_content p:nth-of-type(4) {
    line-height: 30px;
    margin-top: 40px;
}

.detail_content p:nth-of-type(4) span {
    font-size: 14px;
    line-height: 18px;
}

.detail_main {
    width: 930px;
    float: right;
}

.detail_main_title {
    width: 930px;
    height: 30px;
    background-color: #B71B2C;
    color: #fff;
    float: right;
    margin-top: 30px;
}

.detail_main_title span {
    line-height: 30px;
    padding-left: 20px;
    font-size: 18px;
}

.detail_main ul {
    width: 750px;
    margin: 0 auto;
}

.detail_main ul li {
    width: 750px;
}


/*放大镜*/

.box {
	width: 478px;
	height: 450px;
   cursor: crosshair;
    position: relative;
}

.box img {
    width: 350px;
    height: 350px;
}

#zoom {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
    left: 0px;
    top: 0px;
    display: none;
}

.bigbox img {
    width: 1600px;
    height: 1200px;
}

.bigbox {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    display: none;
}
