<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>焊割设备及配件营销中心---详情页</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/list.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/detail.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="head_top bgc margin-bottom">
        <div class="container  ">
            <span><a href="#" id="favorites">收藏本页</a></span>
            <span class="phone_number">
        <span><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>0536-8572582</span>
            <span><i class="glyphicon glyphicon-phone"></i><a href="javascript:void(0);" onclick="window.open('https://shop115264735.taobao.com/?spm=a230r.7195193.1997079397.113.BIx9G0')" style="color: #B71B2C;">网上商城</a></span>
            <span><i class="glyphicon glyphicon-home" aria-hidden="true"></i><a style="color: #B71B2C;"  href="/admin/home">进入后台</a></span>
            </span>
        </div>
    </div>
    <div class="container margin-bottom ">
        <%for(var x=0;x<banner.length;x++){%>
            <%if(banner[x].id=="banner01"){%>
                <img class="banner01" src="/images/<%=banner[x].img%>">
                <%}%>
                    <%}%>
    </div>
    <div class="container logo">
        <img src="../images/logo.jpg" alt="焊接配件，焊接设备">
        <form class="sousou" action="/find">
            <input type="text" name="find" placeholder="搜索 &nbsp  型号/系列/品牌">
            <button><img src="/images/model/sousuo.jpg"></button>
        </form>
    </div>
    <div class="container">
        <ul class="nav">
            <li class="show01"><a href="javascript:void(0);">产品分类</a></li>
            <li><a href="/">首页</a></li>
            <li><a href="/allList">所有商品</a></li>
            <li><a href="javascript:void(0);" onclick="window.open('https://shop115264735.taobao.com/?spm=a230r.7195193.1997079397.113.BIx9G0')">网上商城</a></li>
            <li><a href="/aboutUs">关于我们</a></li>
            <li><a href="/feedback">客户留言</a></li>
            <li><a href="javascript:void(0);" onclick="window.open('http://www.sgdhj.net/')">埃森自动化</a></li>
        </ul>
    </div>
    <div class="container ">
        <ul class="nav_left">
            <li><a href="/list/智能仓储">智能仓储</a></li>
            <li><a href="/list/焊接设备">焊接设备</a></li>
            <li><a href="/list/切割设备">切割设备</a></li>
            <li><a href="/list/电焊机">电焊机</a></li>
            <li><a href="/list/辅具类">辅具类</a></li>
            <li><a href="/list/焊接配件">焊接配件</a></li>
            <li><a href="/list/切割配件">切割配件</a></li>
            <li><a href="/list/劳动保护">劳动保护</a></li>
            <li><a href="/list/工业五金">工业五金</a></li>
            <li><a href="/list/焊材">焊材</a></li>
        </ul>
        <ul class="nav_left_show" style="display: block;">
            <li class="bgc">
                <h4>智能仓储</h4>
                <%for(var i=0 ; i< zncs.length ;i ++){%>
                    <a href="/detail/<%=zncs[i]._id%>">
                        <p>
                            <%=zncs[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>焊接设备</h4>
                <%for(var i=0 ; i< hjsb.length ;i ++){%>
                    <a href="/detail/<%=hjsb[i]._id%>">
                        <p>
                            <%=hjsb[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>切割设备</h4>
                <%for(var i=0 ; i< qgsb.length ;i ++){%>
                    <a href="/detail/<%=qgsb[i]._id%>">
                        <p>
                            <%=qgsb[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>电焊机</h4>
                <%for(var i=0 ; i< dhj.length ;i ++){%>
                    <a href="/detail/<%=dhj[i]._id%>">
                        <p>
                            <%=dhj[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>辅具类</h4>
                <%for(var i=0 ; i< fjl.length ;i ++){%>
                    <a href="/detail/<%=fjl[i]._id%>">
                        <p>
                            <%=fjl[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>焊接配件</h4>
                <%for(var i=0 ; i< hjpj.length ;i ++){%>
                    <a href="/detail/<%=hjpj[i]._id%>">
                        <p>
                            <%=hjpj[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>切割配件</h4>
                <%for(var i=0 ; i< qgpj.length ;i ++){%>
                    <a href="/detail/<%=qgpj[i]._id%>">
                        <p>
                            <%=qgpj[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>劳动保护</h4>
                <%for(var i=0 ; i< ldbh.length ;i ++){%>
                    <a href="/detail/<%=ldbh[i]._id%>">
                        <p>
                            <%=ldbh[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>工业五金</h4>
                <%for(var i=0 ; i< gywj.length ;i ++){%>
                    <a href="/detail/<%=gywj[i]._id%>">
                        <p>
                            <%=gywj[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
            <li class="bgc">
                <h4>焊材</h4>
                <%for(var i=0 ; i< hc.length ;i ++){%>
                    <a href="/detail/<%=hc[i]._id%>">
                        <p>
                            <%=hc[i].title%>
                        </p>
                    </a>
                    <%}%>
            </li>
        </ul>
    </div>
    <div class="container">
        <span style="line-height: 50px;"><i class="fa fa-spinner fa-lg"></i> 首页 <i class="fa fa-chevron-right "></i>  <%=listname%>  <i class="fa fa-chevron-right "></i>  <%=title%> </span>
    </div>
    <hr>
    <div class="backgroundPic">
    <div class="container detail_top">
        <div class="mainpic">
            <!-- <img src="/images/<%=commodity.mainpic%>"> -->
            <div class="box" id="box">
                <img src="/images/<%=commodity.mainpic%>" alt="焊接配件，焊接设备">
                <div id="zoom"></div>
            </div>
            <div class="bigbox" id="bigbox">
                <img src="/images/<%=commodity.mainpic%>" alt="焊接配件，焊接设备">
            </div>
        </div>
        <div class="detail_content">
            <h4><%=commodity.title%></h4>
            <p>品牌名称 ： <span><%=commodity.brand%></span></h4>
                <p>商品型号 ： <span><%=commodity.model%></span></p>
                <p>商品价格 ： <span>¥ <%=commodity.price%></span></p>
                <p>商品描述 ： <span><%=commodity.describe%></span></p>
        </div>
    </div>
    </div>
    <div class="container ">
        <div class="detail_left">
            <a href="javascript:void(0);" onclick="window.open('https://shop115264735.taobao.com/?spm=a230r.7195193.1997079397.113.BIx9G0')" style="color: #B71B2C;">
                <img src="/images/model/dhl.jpg">
            </a>
        </div>
        <div class="detail_main">
            <div class="detail_main_title"><span>商品详情</span></div>
            <ul>
                <%for(var i=0; i<images.length;i++){%>
                    <li>
                        <img width="750px" src="/images/<%=images[i]%>">
                    </li>
                    <%}%>
            </ul>
        </div>
    </div>
    <!-- 在线咨询 -->
    <div>
        <div style="color: #fff" class='wmsContact' title='展开'>
            手机淘宝
        </div>
        <div class='wmsOpen'>
            <div class='wmsX'>X</div>
        </div>
    </div>
    <!-- 回到顶部按钮 -->
    <div id="topcontrol" title="回到顶部" style="position: fixed; bottom: 18px; right: 0px; opacity: 1; cursor: pointer;">
        <img src="/images/topcontrol.png" alt="焊接配件，焊接设备">
    </div>
    <!-- 左侧面板拉出来 -->
    <div class='wmsLefthidden'>
        <div class='wmsDrag'>
            <img src="/images/model/1_1.jpg" alt="焊接配件，焊接设备" title='拉我'>
        </div>
        <div class='wmsDrag2'>
            <img src="/images/model/1_2.jpg" alt="焊接配件，焊接设备" title="点我关闭">
        </div>
        <div class='wmsText'>关于我们</div>
        <div class="showUs">
            <h2>埃森焊割设备及配件营销中心</h2>
            <p>本中心成立于2005年，从事于焊割设备及配件销售服务十余年，年销售额达1000万元。十年老店，能够全面掌握全国焊割配件质量，始终真诚实意的为新老客户提供价格实惠、质量可靠的产品与服务。</p>
            <p><i>主营产品：</i>各品牌电焊机、氩弧焊机、自动化工装、机器人焊接设备；批发各种优质焊割配件、焊接器材：二保焊焊枪、送丝机、割炬、二氧化碳表、等离子割枪、氩弧焊枪、焊钳、焊罩、焊机线、焊条、焊丝、磨光机、防堵膏、防溅剂、氧气管等及各种焊机维修。</p>
            <p>商品详情及购买请访问: <i><a href="javascript:void(0);" onclick="window.open('https://shop115264735.taobao.com/?spm=a230r.7195193.1997079397.113.BIx9G0')"> 淘宝网上商城</a></i> </p>
        </div>
    </div>
    <div class="footer ">
        <div class="container">
            <ul class="icon_message">
                <li>
                    <img src="../images/footer/icon_1.jpg">
                    <p>品牌授权</p>
                </li>
                <li>
                    <img src="../images/footer/icon_2.jpg">
                    <p>银行合作</p>
                </li>
                <li>
                    <img src="../images/footer/icon_3.jpg">
                    <p>客户口碑</p>
                </li>
                <li>
                    <img src="../images/footer/icon_4.jpg">
                    <p>专业售后</p>
                </li>
            </ul>
            <div class="clear-float"></div>
            <ul class="server_list">
                <li>
                    <p>新手</p>
                    <p><a href="">注册新会员</a></p>
                    <p><a href="">如何订购</a></p>
                    <p><a href="">正品保障</a></p>
                    <p><a href="">常见问题</a></p>
                </li>
                <li>
                    <p>新手</p>
                    <p><a href="">注册新会员</a></p>
                    <p><a href="">如何订购</a></p>
                    <p><a href="">正品保障</a></p>
                    <p><a href="">常见问题</a></p>
                </li>
                <li>
                    <p>新手</p>
                    <p><a href="">注册新会员</a></p>
                    <p><a href="">如何订购</a></p>
                    <p><a href="">正品保障</a></p>
                    <p><a href="">常见问题</a></p>
                </li>
                <li>
                    <p>新手</p>
                    <p><a href="">注册新会员</a></p>
                    <p><a href="">如何订购</a></p>
                    <p><a href="">正品保障</a></p>
                    <p><a href="">常见问题</a></p>
                </li>
                <li>
                    <p>新手</p>
                    <p><a href="">注册新会员</a></p>
                    <p><a href="">如何订购</a></p>
                    <p><a href="">正品保障</a></p>
                    <p><a href="">常见问题</a></p>
                </li>
                <li>
                    <img src="../images/footer/tel.jpg">
                </li>
            </ul>
            <p>埃森商城网站 Copyright2015-2016.All Rights Reserved</p>
        </div>
    </div>
    <p class="margin-bottom"><span>技术支持：聚尚网络 </span> <span>视觉设计：聚尚网络</span></p>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/list.js"></script>
    <script type="text/javascript" src="/javascripts/detail.js"></script>
</body>

</html>
